/*TEMPLATE*/

.sto-__PLACEHOLDER__-w-butterfly {
  margin: 0 auto;
  width: calc(100% - 14px);
  height: 350px;
  position: relative;
  display: inline-block;
  font-family: arial, sans-serif;
  border: 1px solid #c9c9c9;
  margin-left: 7px;
}

.sto-__PLACEHOLDER__-w-butterfly::after {
  content: 'Sponsorisé';
  font-size: 14px;
  font-style: italic;
  /*font-family: 'Roboto', arial, sans-serif;*/
  color: #c9c9c9;
  position: absolute;
  display: block;
  height: 30px;
  line-height: 30px;
  bottom: -26px;
  right: 0px;
}

#productList.mosaic-display .sto-__PLACEHOLDER__-w-butterfly {
  margin: 15px 7px 60px 7px;
}

.sto-__PLACEHOLDER__-selection {
  background-image: __BTF_CONTAINE_IMG__;
  background-repeat: no-repeat;
  background-color: __BTFCOLOR__;
  background-position: center top;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: calc(50% - 7px);
  /*border-top: 1px solid __BORDERCOLOR__;
    border-left: 1px solid __BORDERCOLOR__;
    border-bottom: 1px solid __BORDERCOLOR__;*/
  /*max-width: 250px;*/
}

.sto-__PLACEHOLDER__-w-vignette {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  height: 100%;
  width: calc(50% + 7px);
  float: right;
  position: relative;
  display: inline-block;
  background-color: white;
  cursor: pointer;
}

.sto-__PLACEHOLDER__-w-logo {
  position: relative;
  height: 28.3%;
  width: 100%;
  min-height: 35px;
}

.sto-__PLACEHOLDER__-logo {
  position: absolute;
  bottom: 0;
  max-width: 150px;
  width: 75%;
  margin: 0 auto;
  height: 35px;
  background-image: __LOGOIMG__;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: relative;
}

.sto-__PLACEHOLDER__-claim {
  font-size: 14px;
  color: __CLAIMTXTCOLOR__;
  text-align: center;
  margin-top: 14%;
}

.sto-__PLACEHOLDER__-w-cta {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  /*border-top: 1px solid #bebebe;
    border-right: 1px solid #bebebe;*/
  margin-top: 0px;
  height: 28.3%;
  min-height: 35px;
}

.sto-__PLACEHOLDER__-cta {
  position: absolute;
  bottom: 0;
  max-width: 150px;
  width: 75%;
  margin: 0 auto;
  height: 35px;
  /*background-image: __BTN_REDIRECT_IMG__;
    background-repeat: no-repeat;
    background-position: center;*/
  background-color: __BTN_REDIRECT_BG_COLOR__;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.sto-__PLACEHOLDER__-cta span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: __BTN_REDIRECT_TXT_COLOR__;
  left: 0;
  line-height: 1;
}

.sto-__PLACEHOLDER__-w-vignette .border {
  /*border-top: 1px solid __BORDERCOLOR__;
    border-right: 1px solid __BORDERCOLOR__;
    border-bottom: 1px solid __BORDERCOLOR__;*/
  border-left: none;
}

.sto-__PLACEHOLDER__-w-butterfly[data-index="1"] .sto-__PLACEHOLDER__-selection {
  background-image: __BTF_BG_01__;
}

.sto-__PLACEHOLDER__-w-butterfly[data-index="2"] .sto-__PLACEHOLDER__-selection {
  background-image: __BTF_BG_02__;
}

.sto-__PLACEHOLDER__-w-butterfly[data-index="3"] .sto-__PLACEHOLDER__-selection {
  background-image: __BTF_BG_03__;
}

.sto-__PLACEHOLDER__-w-butterfly[data-index="4"] .sto-__PLACEHOLDER__-selection {
  background-image: __BTF_BG_04__;
}

.sto-__PLACEHOLDER__-w-butterfly[data-index="5"] .sto-__PLACEHOLDER__-selection {
  background-image: __BTF_BG_05__;
}

.sto-__PLACEHOLDER__-w-vignette {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: __BTF_PROD_01__;
}

/* .sto-__PLACEHOLDER__-w-vignette[data-ind="0"] {
  background-image: __BTF_PROD_01__;
}

.sto-__PLACEHOLDER__-w-vignette[data-ind="1"] {
  background-image: __BTF_PROD_02__;
}

.sto-__PLACEHOLDER__-w-vignette[data-ind="2"] {
  background-image: __BTF_PROD_03__;
} */

.sto-__PLACEHOLDER__-w-butterfly .sto-product-container> .sto-product-klass {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border: 0;
  background-position: center;
}

.sto-__PLACEHOLDER__-w-butterfly .sto-product-container> .sto-product-klass >a {
  display: none;
}

.sto-__PLACEHOLDER__-w-butterfly .sto-product-container> .sto-product-klass {
  background-image: __BTF_PROD_01__;
}

.sto-__PLACEHOLDER__-valign {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
}

.sto-__PLACEHOLDER__-content {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

.sto-__PLACEHOLDER__-w-buttons button {
  margin: 0 auto;
  margin-top: 5px;
  /*width: __BUTTONSWIDTH__ !important;*/
  width: 60%;
  max-width: 150px;
  display: block;
  text-align: center;
  /*font-family: 'Roboto', arial, sans-serif;*/
  font-size: __BTN_POLICE_SIZE__px;
  border: none;
  box-shadow: none;
  background-image: __BUTTONIMG__;
  background-color: __BUTTONCOULEUR__;
  background-position: center;
  background-repeat: no-repeat;
  color: __BUTTONTXT__;
  cursor: pointer;
  font-weight: bold;
  line-height: 0.9;
  text-transform: initial;
  padding: 5px 5px !important;
  font-weight: normal;
  font-size: 0.9;
  font-size: 3vw;
}

.sto-__PLACEHOLDER__-w-buttons button:nth-child(1) {
  margin-top: 0px;
}

.sto-__PLACEHOLDER__-w-buttons button:focus {
  outline: none;
}

.sto-__PLACEHOLDER__-w-buttons button:hover {
  background-image: __BUTTONIMGSELECT__;
  background-color: __BUTTONCOULEURSELECT__;
  background-position: center;
  background-repeat: no-repeat;
  color: __BUTTONTXTSELECT__;
}

.sto-__PLACEHOLDER__-w-buttons button:active {
  outline-style: none;
}

.sto-__PLACEHOLDER__-w-buttons button.sto-__PLACEHOLDER__-selButton {
  outline-style: none;
  background-image: __BUTTONIMGSELECT__;
  background-color: __BUTTONCOULEURSELECT__;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 5px;*/
  color: __BUTTONTXTSELECT__;
}

.sto-__PLACEHOLDER__-w-butterfly .sto-product-container {
  display: block;
  height: 100%;
}

.sto-__PLACEHOLDER__-w-butterfly[data-type="name"] .sto-__PLACEHOLDER__-w-buttons {
  display: none;
}

.sto-__PLACEHOLDER__-w-infos {
  text-align: center;
  /*font-family: arial, sans-serif;*/
  line-height: 1.2;
  font-size: 15px;
}

.sto-__PLACEHOLDER__-w-infos>* {
  margin-bottom: 5px;
}

.sto-__PLACEHOLDER__-w-infos>div:last-child {
  margin-bottom: 0 !important;
}

.sto-__PLACEHOLDER__-infos-brand {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.sto-__PLACEHOLDER__-infos-title {
  font-size: 17px;
  padding: 0 5%;
  line-height: 1;
}

.sto-__PLACEHOLDER__-w-butterfly[data-type="name"] .sto-__PLACEHOLDER__-infos-title {
  margin-bottom: 6px;
}

.sto-__PLACEHOLDER__-infos-prices {
  font-weight: bold;
  font-size: 15px;
}

.sto-__PLACEHOLDER__-infos-prices span.sto-old-price {
  font-weight: normal;
  font-size: 13px;
  text-decoration: line-through;
}

.sto-__PLACEHOLDER__-infos-prices span.sto-eco-price {
  font-size: 10px;
  font-style: italic;
  color: #999;
  display: block;
}

.sto-__PLACEHOLDER__-infos-prices span.sto-reduction {
  font-weight: normal;
  font-size: 13px;
}

.sto-__PLACEHOLDER__-infos-ratings {
  margin-bottom: 7px !important;
  margin-top: 7px;
  line-height: 0.5;
}

.sto-__PLACEHOLDER__-infos-ratings .product-rating-stars {
  height: 15px;
}

.sto-__PLACEHOLDER__-infos-comments {
  font-size: 12px;
  line-height: 1;
  padding: 0 5%;
}

/*FORMAT*/

.sto-__PLACEHOLDER__-w-buttons {
  position: relative;
  top: 0;
  margin-top: 0 !important
}

.sto-__PLACEHOLDER__-w-butterfly {
  background-position: top left -40px;
}

.sto-__PLACEHOLDER__-w-buttons button {
  position: relative;
}

.sto-__PLACEHOLDER__-w-buttons button.sto-__PLACEHOLDER__-selButton::after {
  display: inline-block;
  content: ' ';
  background-image: __BUTTONSELECTARROW__;
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  position: absolute;
  right: 7px;
  top: 16px;
  transform: translateY(-50%);
}

.sto-text-w-cta {
  color: __REDIRTXTCOL__!important;
  height: 30px;
}


.sto-__PLACEHOLDER__-left {
  display: none;
  width: calc(100% / 3 - 10px);
  float: left;
  height: 100%;
  background-color: __LEFT_BGCOLOR__;
  position: relative;
  border-right: 1px solid __LEFT_BORDER_COLOR__;
  /* text-align: center; */
}


.sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-txt {
  font-size: 2.1vw;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 35px;
  font-family: 'Source Sans Pro',sans-serif;
  text-align: center;
}

.sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-arrow {
  height: 30px;
  width: 50px;
  margin: auto;
  background-image: url(../../img/arrow-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 300ms ease;
  display: none !important;
}
.sto-__PLACEHOLDER__-left:hover .sto-__PLACEHOLDER__-left-arrow {
  background-position: right center;
  transition: 300ms ease;
}



/*............................................................
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDD...IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIII...AAAAAA.....
//.MMMMMMM.MMMMMMM.EEEE........DDDD...DDDD.IIIII...AAAAAAA....
//.MMMMMMM.MMMMMMM.EEEE........DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMM.MMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAA.AAAA...
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII.AAAAAAAAAA...
//.MMMMMMMMMMMMMMM.EEEE........DDDD....DDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEE........DDDD...DDDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIIIAAAA....AAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIIIAAAA.....AAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDD...IIIIIAAAA.....AAA..
*/



@media screen and (min-width:600px) {
  .sto-__PLACEHOLDER__-cta {
    font-size: 14px;
  }
  .sto-__PLACEHOLDER__-claim {
    margin-top: 22%;
  }
}

@media screen and (min-width:768px) {
  .sto-__PLACEHOLDER__-w-butterfly {
    /*height: 270px !important;*/
  }
  .sto-__PLACEHOLDER__-selection {
    width: calc(100% / 3 + 20px);
    float: left;
  }
  .sto-__PLACEHOLDER__-w-vignette {
    width: calc(100% / 3 - 10px);
    float: left;
  }
  .sto-__PLACEHOLDER__-left {
    display: block;
  }
  .sto-__PLACEHOLDER__-claim {
    margin-top: 8%;
  }
  .sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-txt {
    font-size: 18px;
  }
}

@media screen and (max-width:991.5px) {
  .sto-__PLACEHOLDER__-left {
    display: none;
  }
  .sto-__PLACEHOLDER__-selection {
    width: calc(100% / 2);
  }
  .sto-__PLACEHOLDER__-w-vignette {
    width: calc(100% / 2);
  }
}

@media screen and (max-width:400px) {
  .sto-__PLACEHOLDER__-infos-ratings {
    transform: scale(0.8);
    height: 8px;
    top: -4px;
    position: relative;
  }

}

@media screen and (max-width:370px) {
  .sto-__PLACEHOLDER__-infos-title {
    font-size: 4vw;
  }
  .sto-__PLACEHOLDER__-infos-prices {
    font-size: 4vw;
  }
  .sto-__PLACEHOLDER__-infos-prices span.sto-old-price, .sto-__PLACEHOLDER__-infos-prices span.sto-reduction {
    font-size: 3vw;
  }
  .sto-__PLACEHOLDER__-infos-comments {
    font-size: 3vw;
  }
  .sto-__PLACEHOLDER__-w-infos>* {
    margin-bottom: 3px !important;
  }
  .sto-__PLACEHOLDER__-w-infos>div:last-child {
    margin-bottom: 0 !important;
  }
  .sto-__PLACEHOLDER__-cta {
    font-size:3vw;
  }
  .sto-__PLACEHOLDER__-claim {
    font-size: 3vw;
  }
}

@media screen and (min-width:992px) {
  .sto-__PLACEHOLDER__-w-butterfly {
    height: 332px !important;
  }
  .sto-__PLACEHOLDER__-claim {
    margin-top: 14%;
  }
  .sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-arrow {
    height: 50px;
    width: 80px;
  }
  .sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-txt {
    font-size: 27px;
  }
}
@media screen and (min-width:1200px) {
  .sto-__PLACEHOLDER__-w-butterfly {
    height: 413px !important;
  }
  .sto-__PLACEHOLDER__-left .sto-__PLACEHOLDER__-left-txt {
    font-size: 29px;
  }
}



/*RETAILER*/

.sto-__PLACEHOLDER__-w-butterfly .sto-product-container> .sto-product-klass[data-productid] {
  width: 100%;
}

.sto-__PLACEHOLDER__-w-butterfly .sto-product-container> .sto-product-klass[data-productid] .fix-product-info {
  display: none;
}
